<div class="columns">
	<store-filter 
		[filter]="filter$ | async" 
		(changed)="onFilterChanged($event)" 
		class="column is-one-quarter"
	></store-filter>

	<div class="column">
		<store-list 
			[books]="books$ | async | NPagination:{page: paginationPage, itemsOnPage: 9}"
			[cartEntities]="cartEntities$ | async"
			(addBookToCart)="onAddBookToCart($event)"
			class="columns is-multiline is-desktop"
		></store-list>

		<n-pagination [page]="paginationPage" (pageChanged)="onPageChanged($event)" [itemsOnPage]="9" [items]="books$ | async"></n-pagination>
	</div>
</div>